html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;

  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
}

div {
  background-color: #e7001d;
  text-align: center;
  color: #fff;
}

.chinese-title {
  margin: 0;
  padding-top: .3em;
  font-size: 3em;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 5;
}

.chinese-zodiac {
  margin: 0;
  padding: .3em 0em 1.5em 0em;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 6;
}

.medallion {
  width: 100px;
  position: absolute;
  top: 15px;
  left: calc(50% - 50px);
  z-index: 0;
}

ol {
  padding: 0;
  margin: 0;
}

li {
  background-color: #222222;
  list-style-type: none;
  float: left;
  width: 50%;
  padding: .5em .5em .5em 0em;
  border: 1px solid #000;
}

nav a {
  text-decoration: none;
  padding-left: 1em;
  margin: 0;
}

a {
  color: #fff;
}

figure {
  margin: 0;
}

.banner {
  position: relative;
}

.banner-img {
  width: 100%;
}

h2 {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 75px);
  font-style: italic;
  font-size: 2em;
  color: #fff;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5em;
}

p {
  margin: 1em 1em 0.5em 0.75em;
  line-height: 1.5em;
}

.dragon {
  background-color: #e4c22a;
}

.goat {
  background-color: #222222;
}

.rooster {
  background-color: #bc0017;
}

.ox {
  background-color: #e4c22a;
}

footer {
  background-color: #222222;
}
